{# heredamos de la plantila master #}
{% extends "layouts/master.html.twig" %}

{% block titulo %}Animales{% endblock %}

{% block header %}
	{{ parent() }}  
	<h1>{{ titulo }}</h1>
	<hr>
{% endblock %}

{% block section %}
	{#
	<p>El nombre es :{{ nombre }}</p>
	<p>Los apellidos es :{{ apellidos }}</p>
	<p>La edad es :{{ edad }}</p>
	#}
	
	{# CREAR VARIABLES EN TWIG #}
	{% set miVariable = "Valor de la variable" %}
	<h4>{{ miVariable }}</h4>
	
	{# CONCATENAR VARIABLES#}
	{% set nombre = "Fran" %}
	{% set apellidos = "Marcet" %}
	{% set edad = 36 %}
	
	{{ nombre ~ ' - ' ~ apellidos ~ ' - ' ~ edad }}
	
	{# ARRAYS #}
		{# Ver contenido del array #}
		{{ dump(animales) }}
		
		{# imprimir un valor del array #}
		{{ animales[1] }}
		
		{# Recorrer array #}
		{% if animales|length >= 1 %}
			<ul>
				{% for animal in animales %}
					<li>{{ animal }}</li>
				{% endfor %}	
			</ul>
		{% endif  %}
	
	{# ARRAYS ASOCIATIVOS #}
		{# Ver contenido del array #}
		{{ dump(pajaro) }}
		
		{# imprimir un valor del array #}
		{{ 'Raza: ' ~ pajaro.raza ~ ' Sexo: ' ~ pajaro.sexo ~ ' Zona: ' ~ pajaro.zona}}
		
		{# Recorrer array asociativo #}
		
		
	{# ESTRUCTURAS DE CONTROL #}
	{# if #}
	<h3>Estructuras de control</h3>
	{% if pajaro.raza == "pangolin"  %}
		<h4>Soy un pangolin</h4>
	{% else  %}
		<h4>No Soy un pangolin</h4>
	{% endif  %}
	<hr>
	
	<h3>Bucles</h3>
	{# Bucles#}
	{% for i in 0..10 %}
		{{ i }}<br>
	{% endfor %}
	<hr>
	{% for i in 0..animales|length %}
		{{ i }}<br>
	{% endfor %}
	<hr>
	
	{# STARTS-ENDS #}
	{# Empieza por una letra #}
	{% if pajaro.raza starts with 'p' %}
		<h4>La raza empieza por p</h4>
	{% endif %}
	
	{# Empieza por mas de una letra #}
	{% if pajaro.raza starts with 'pb' %}
		<h4>La raza empieza por pb</h4>
	{% endif %}
	
	{# Acaba por una letra #}
	{% if pajaro.raza ends with 'ma' %}
		<h4>La raza acaba por p</h4>
	{% endif %}
	<hr>
	
	<h3>Funciones predefinidas</h3>
	{# DAR SOLO ACCESO #}
	{{ include('partials/funciones.html.twig',{nombre:'pepe',apellidos:'lopez'}) }}
	
	<h3>Filtros</h3>
	{# FILTROS #}
	{# Length #}
	{{ animales|length }}</br>
	
	{# trim #}
	{% set email = "    admin@admin.es" %}
	{% set texto = "pepe antonio fran lucia." %}
	
	{% set email_formateado = email|trim|upper|lower %}
	{% set texto_formateado = texto|trim('.') %}
	
	{{ email_formateado }}</br>
	{{ texto_formateado }}</br>
	
	{# EXTENSIONES #}
	<h2>Extensiones personalizadas</h2>
	{{ tablaMultiplicar(5)|raw }}
	
	{# tambien podemos usar el filtro creado  #}
	{{ 7|tablaMultiplicar|raw }}
	
	
	
	
{% endblock %}
