{# FUNCIONES PREDEFINIDAS #}
{# Valor Minimo de un array min() #}
{% set array_numeros = [1,2,3,4,5] %}
{% set min_value_array = min(array_numeros) %}
{{ min_value_array }}</br>

{# Valor Maximo de un array max() #}
{% set max_value_array = max(array_numeros) %}
{{ max_value_array }}</br>

{# Valor Aleatorio random() #}
{% set valor_random = random(array_numeros) %}
{% set valor_random2 = random(animales) %}
{{ valor_random }}</br>
{{ valor_random2 }}</br>

{# Range(start, end, step) #}
{% for i in range(0, 50, 5) %}
	{{ i }}{# 0 5 10 15 20 25 30 35 40 45 50 #}
{% endfor %}<hr>

<h5>Imprimir variable include</h5>
{# IMPRIMIR VALORES QUE LLEGAN DESDE UN INCLUDE#}
{{ nombre }}
{{ apellidos }}
