<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta
			name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Estilos -->
		{% block stylesheets %}{% endblock %}
		<!-- Js -->
		{% block javascripts %}{% endblock %}

		<title>
			{% block titulo %}
				Titulo de la plantilla
			{% endblock %}
		</title>
	</head>
	<body>
		<!-- Header -->
		<div id="header">
			{% block header %}
				<header id="header">
					<h1>Cabecera de la plantilla</h1>
				</header>
			{% endblock %}
			{% block nav %}
				<nav>
					<a href="">Inicio</a>
					<a href="">IR SECCIÓN 2</a>
					<a href="">IR SECCIÓN 3</a>
				</nav>
			{% endblock %}	
		</div>
		<!-- End Header -->

		<!-- Section -->
		<section id="section">
			{% block section %}
				<p>contenido de la plantilla</p>
			{% endblock %}
		</section>
		<!-- End Section -->

		<!-- Footer -->
		<footer id="footer">
			{% block footer %}
				<p>Pie de pagina de la plantilla</p>
			{% endblock %}
		</footer>	
		<!-- End Footer -->


		{# 
		   <!-- Js -->
		   {% block javascripts %}{% endblock %} 
		#}
	</body>
</html>
