{% extends 'base.html.twig' %}

{% block title %}Usando el Form Builder!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<h2>Probando el Form Builder de Symfony</h2>
	{# msg con session flash #}
	{% set messages = app.session.flashbag().get('message') %}
	{% for message in messages %}
		{{ message }}
	{% endfor %}
	
	{{ form_start(form) }}
	{{ form_widget(form) }} {# Nos permite imprimir por pantalla los campos #}
	{{ form_end(form) }}
	<hr>
	
	
</div>
{% endblock %}

