{% extends 'base.html.twig' %}

{% block title %}Usando el Query Builder!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hola probando contolador: {{ controller_name }}! ✅</h1>
	<hr>
	<h2>Probando el DQL de Symfony</h2>
	{% for animal in animales %}
		<li>{{animal.id}} - {{ animal.tipo }} - {{ animal.raza }} - {{ animal.color }}</li>
	{%  endfor %}	
</div>
{% endblock %}
