{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
	 {# {{ dump(animales) }} #} 
	 
	 <h2>Listado de resgitos [findAll()].</h2>
	 <ul>
	 {% for animal in animales %}
		 <li>{{animal.id}} - {{ animal.tipo }} - {{ animal.raza }} - {{ animal.color }}</li>
	 {% endfor %}
	 </ul>
	 <hr>
	 
	 <h2>Listar de registro por condicion/es [findOneBy()].</h2>
	 <p><strong>{{animal.id}} - {{ animal.tipo }} - {{ animal.raza }} - {{ animal.color }} </strong></p>
	 <hr>
	 
	 <h2>Listar de registros por condicion/es [findBy()].</h2>
	 <ul>
	 {% for animal1 in animals %}
		 <li>{{animal1.id}} - {{ animal1.tipo }} - {{ animal1.raza }} - {{ animal1.color }}</li>
	 {% endfor %}
	 </ul>
	 <hr>
	 <h2>Listar de registros por condicion/es [findBy() + ORDER BY].</h2>
	 {% for animal1 in animals %}
		 <li>{{animal1.id}} - {{ animal1.tipo }} - {{ animal1.raza }} - {{ animal1.color }}</li>
	 {% endfor %}
		 
</div>
{% endblock %}
